.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 206, 177);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    width: 250px;
    padding: 1rem 0.25rem;
    gap: .5rem;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.product-card:hover{
    transform: scale(1.05);
}

.product-image{
    width: 200px;
    height: 225px;
    object-fit: contain;
}

.text{
    margin: 0px;
    width: 10rem;
    color: black;
}