.product-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(106, 106, 238);
    width: 15rem;
    padding: 1rem;
    border-radius: 10px;
    gap: 0.5rem;

}

.product-form-input {
    border: none;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.panel-title{
    margin: 0;
}
.product-form-box{
    height: 75px;
    border: none;
    border-radius: 4px;
    padding: 0.25rem 0.6rem;
}

.form-text {
    color: black;
    margin: 0;
}

.custom-file-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-top: 0.25rem;
}

.custom-file-btn:hover {
    opacity: 0.9;
}

.file-name {
    margin-top: 0.25rem;
    font-size: 0.8rem;
}

.error {
    margin-top: 0.25rem;
    color: red;
    font-size: 0.8rem;
}