nav {
    display: flex;
    flex-direction: row;
}

.nav-container {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
}

ul.nav-items {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    padding: 0;

}

.item {
    color: rgb(0, 0, 0);
}

.item:hover {
    color: black;
    border-bottom: 2px solid gold;
}

ul {
    list-style: none;
}

.item-carrito {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.category-container {
    flex: 0.95;
    display: flex;
    justify-content: center;
}

.hamburger {
    display: none;

}

@media (max-width: 768px) {

    .hamburger-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem 1rem;
    }

    .hamburger {
        display: flex;
        align-self: center;
        background: none;
        border: none;
        font-size: 1.6rem;
        padding: 0;
    }

    .category-container,
    nav {
        display: none;
    }

    .category-container.open,
    nav.open {
        display: block;
        width: 100%;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 1rem;
        padding: 0 1rem;
    }

    .nav-items>li {
        display: flex;
        justify-content: flex-end;
    }

    nav.open {
        order: 1;
    }

    .category-container.open {
        order: 2;
    }

    div.nav-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        overflow-y: auto;
        z-index: 1000;
        background-color: rgb(222, 228, 235);
        padding-right: 1rem;

    }
}